.diapason__multi-range {
  position: relative;
  flex-grow: 1;
  background: var(--elem-bgcolor);
  border: 0.1rem solid var(--decor-color);
  border-radius: 0.4rem;
  padding: 1.4rem 1.6rem;
  margin: 0 0.8rem;
}